*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}
body{
    height: fit-content;
    font-family: 'Jost', sans-serif;
    background-color: #fefefe;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style-type: none;
    display: inline-block;
}
button{
    border: none;
}
.container{
    width: 95%;
    margin: auto;
}



.top{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    background-color: #fefefe;
}
.top div{
    height: 20px;
}
.top div a{
    height: 100%;
    color: #553c28;
    padding: 0 10px;
    font-size: 14px;
    position: relative;
}
.top a::before,.top a::after{
    content: "";
    width: 2px;
    height: 0;
    background: #c8a27a;
    position: absolute;
    transition: 1s;
}
.top a::before{
    left: 0;
    bottom: 0;  
}
.top a::after{
    right: 0;
    top: 0;  
}
.top a:hover::before,.top a:hover::after{
    height: 100%;
}
.top a:hover{
    color: #c8a27a;
}
.icon-header:hover i{
    color: #c8a27a;
    transform: rotateY(180deg);
}



.center{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    background-color: #fefefe;
}
.center a{
    padding: 10px;
    font-size: 16px;
    color: #553c28;
}
.center a:hover{
    color: #c8a27a;
}
.center .center-sec .link-center{
    position: relative;
}
.center .center-sec .link-center::after,.center .center-sec .link-center::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: #c8a27a;
    border-style: solid;
    visibility: hidden;
    opacity: 0;
}
.center .center-sec .link-center::after{
    border-width: 1px 0;
    width: 97%;
    height: 95%;
    transition: 0.6s;
    transform: scale(0,1);
    transform-origin: left;
}
.center .center-sec .link-center:hover::after,.center .center-sec .link-center:hover::before{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
}
.center .center-sec .link-center::before{
    border-width: 0 1px;
    width: 94%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1,0);
    transform-origin: bottom;
}
.center .main-menue{
    position: relative;
    z-index: 10;
}
.center .main-menue .angle{ 
    padding-left: 5px;
    font-size: 14px;
}
.center .main-menue .drop-menue{
    width: 280px;
    padding: 15px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: -100%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #00000070,-1px -1px 2px #00000070;
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0,0);
    z-index: 5;
}
.center .main-menue:hover .drop-menue{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
}
.center .drop-menue li{
    display: block;
    margin:5px 0;
}
.center .drop-menue .first-li{
    width: fit-content;
    height: 30px;
    margin-bottom: 10px;
    font-weight:200;
    border-bottom: 1px dotted #2c1810;
}
.center .drop-menue li a{
    padding: 0;
}
.center .drop-menue li .link-drop:hover{
    transform: scale(1.1,1.1);
}
.right-sec .bag{
    position: relative;
}
.right-sec .bag::after{
    content: "2";
    width: 20px;
    height: 20px;
    background: #c8a27a;
    color: #2c1810;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    left: 13px;
    top: -3px;
}
.sec-area .bag:hover::after{
    top: -6px;
}

.bottom{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #553c28;
}
.bottom a{
    color: #d4b896;
    height: 25px;
    border-bottom: 2px solid #d4b896;
}
.bottom a:hover{
    letter-spacing: 2px;
}



.main-background{
    width: 100%;
    height: 90vh;
    background: url(../images/coffee-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.main-background .text-center{
    width: 500px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.main-background span{
    color: #c8a27a;
    font-family: 'Clicker Script', cursive;
    font-size: 50px;

}
.main-background h1{
    padding: 0 10px;
    font-size: 48px;
    color: #2c1810;
}
.main-background p{
    width: 450px;
    font-size: 18px;
    color: #6d4c3d;
    margin:15px auto 30px;
    padding: 0 20px;
}
.main-background a{
    background: #2c1810;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.5s;
}
.main-background a:hover{
    color: #2c1810;
    background: #fff;
    border: 1px solid #2c1810;
}

 .type-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.type-product > div{
    width: 400px;
    height: 400px;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
}
.type-product > div::after{
    content: "";
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top,#000000,#00000005);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.type-product div img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.type-product div:hover img{
    transform: scale(1.1,1.1);
}
.type-product  div .product{
    width: 100%;
    height: 30%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(45px);
    transition: 1s;
}
.type-product  div:hover .product{
    transform: translateY(0px);

}

.type-product  div .product h2{
    color: #fff;
    margin: 25px 0 20px;
}
.type-product  div .product a{
    color: #d4b896;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #d4b896;
}
.type-product  div .product a:hover{
    letter-spacing: 1px;
}

.trend-area{
    margin-top: 70px;
    position: relative;
}

.trend-area .trending{
    min-height: 50px;
    border-bottom: 1px solid #2c181070;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.trend-area .trending h2{
    font-size: 35px;
    color:#2c1810;
}
.trend-area .trending a{
    height: 65px;
    margin-left: 25px;
    color: #2c1810;
    font-size: 20px;
}
.trend-area .trending .link-select{
    color: #c8a27a;
    border-bottom: 5px solid #c8a27a;
}
.trend-area .product-trend{
    display: flex;
    justify-content: space-between;
}
.trend-area .product-trend div{
    width: 24%;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    perspective: 1000px;
}
.trend-area .product-trend div img{
    width: 100%;
    height: 75%;
}
.trend-area .product-trend div .imgtrand{
    width: 80%;
    height: 70%;
}
.trend-area .product-trend div a{
    padding: 30px 0 10px 0;
    font-size: 20px;
    color: #2c1810;
}
.trend-area .product-trend div:hover a{
    color: #c8a27a;
}
.trend-area .product-trend div p{
    color: #2c1810;
    opacity: 0.8;
    font-size: 18px;
}
.trend-area .product-trend div:hover p{
    opacity: 1;
}
.trend-area .product-trend div:hover p span{
    opacity: 0.7;
}
.trend-area .product-trend div p span{
    text-decoration: line-through;
    margin-left: 10px;
}
.trend-area .product-trend div .icon{
    width: 60%;
    height: 10%;
    display: flex;
    position: absolute;
    left: 20%;
    bottom: 30%;
    z-index: 10;
}
.trend-area .product-trend div .icon a{
    color: #2c1810;
    width: 33%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 28px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: 1s;
}
.trend-area .product-trend div:hover .icon a{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.trend-area .product-trend div .icon a:hover{
    background: #c8a27a;
    color: #fff;

}
.trend-area .product-trend > div::after{
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../images/coffee-hover.jpg);
    background-size: cover;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 1s;
    transform-style: preserve-3d;

}
.trend-area .product-trend > div:hover::after{
    transform: rotateY(0deg);
}
.trend-area > a{
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: #2c1810;
}
.trend-area > a:hover{
    opacity: 1;
}
.trend-area .left{
    top: 50%;
    left: -25px;
}
.trend-area .right{
    top: 50%;
    right: -25px;
}


.customer{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ede6c7;
    position: relative;
    box-shadow: 1px 1px 2px #00000070,-1px -1px 2px #00000070;
}
.customer > h2{
    font-size: 34px;
    color: #2c1810;
}
.customer > p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: #6d4c3d;
}
.customer > div{
    display: flex;
    align-items: center;
}
.customer > div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.customer .name-customer{
    margin-left: 10px;
}
.customer .name-customer h4{
    color: #2c1810;
    padding-bottom: 5px;
}
.customer .name-customer p{
    color: #6d4c3d;
    font-weight: bold;
}
.customer > a{
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: #2c1810;
}
.customer > a:hover{
    opacity: 1;
}
.customer .left{
    top: 50%;
    left: 10%;
}
.customer .right{
    top: 50%;
    right: 10%;
}


.like-area .may-like{
    justify-content: center;
    border-bottom: none;
}
.like-area .product-trend > div{
    overflow: hidden;
}
.like-area .product-trend > div::after{
    background: url(../images/coffee-hover.jpg);
    background-size: cover;
    transform: translateY(-75%);
    opacity: 0;
    visibility: hidden;


}
.trend-area .product-trend > div:hover::after{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.section-five{
    width: 100%;
    min-height: 600px;
    margin-top: 70px;
    background-color: #ede6c7;
    box-shadow: 1px 1px 2px #2c181070,-1px -1px 2px #2c181070;
}
.section-five h2{
    text-align: center;
    padding: 30px 0;
    font-size: 34px;
    color: #2c1810;
}
.latest-news{
    display: flex;
    justify-content: space-between;
}
.latest-news > div{
    width: 30%;
    height: 100%;
    perspective: 800px;
}
.latest-news > div img{
    width: 100%;
    height: 400px;
}
.latest-news > div img:hover{
    transform: translateZ(25px);
}

.latest-news > div span{
    display: block;
    color: #6d4c3d;
    padding-top: 15px;
}
.latest-news > div a{
    color: #2c1810;
    font-size: 20px;
    margin: 15px 0;
}
.latest-news > div:hover  a:not(.more){
    color: #c8a27a;
}
.latest-news > div .more{
    text-decoration: underline;
    margin-bottom: 50px;
}
.latest-news > div .more:hover{
    transform: scale(1.1,1.1);
}

.latest-news > div p{
    color: #6d4c3d;
    font-size: 18px;
}

.delivery{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.delivery div > div{
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.delivery div > div i{
    font-size: 48px;
    margin-bottom: 30px;
    color: #8b7355;
    width: 100%;
}
.delivery div div .icons {
    position: absolute;
    top: 0;
    left: 0;
    color: #c8a27a;
    transform: translateY(65px);
}
.delivery div:hover > div i{
    transform: translateY(-50px);
}
.delivery div:hover div .icons {
    transform: translateY(0);
}

.delivery h3{
    color: #2c1810;
}
.delivery p{
    margin-top: 10px;
    color: #6d4c3d;
}

.footer{
    width: 100%;
    min-height: 550px;
    margin-top: 70px;
    background: #2c1810;
}
.footer-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.footer-sec > div{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-sec .div1{
    width: 100%;
    min-height: 120px;
    align-items: center;
    border-bottom: 1px solid #ffffff30;
}
.footer-sec .div1 div p{
    padding-top: 15px;
    color: #d4b896;
}
.footer-sec .div1 div input{
    width: 400px;
    height: 50px;
    padding-left: 15px;
    font-size: 20px;
    color: white;
}
.footer-sec .div1 div input::placeholder{
    color: #d4b896;
}
.footer-sec .div1 .send-email{
    display: flex;
}
.footer-sec .div1 div .subscribe{
    color: #fff;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    background: #6d4c3d;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}
.footer-sec .div1 div .subscribe:hover{
    background: #c8a27a;
    color: #fefefe;
}
.footer-sec .div1 div input:focus{
    outline: none;
    border-color: #c8a27a;
}
.footer-sec .div1 div a{
    color: #d4b896;
    font-size: 24px;
    margin-left: 10px;
}
.footer-sec .div1 div a:hover{
    color: #c8a27a;
    transform: scale(1.1);
}
.footer-sec .div2{
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
    border-bottom: 1px solid #ffffff30;
}
.footer-sec .div2 a{
    display: block;
    color: #d4b896;
    margin-bottom: 10px;
    transition: 0.5s;
}
.footer-sec .div2 a:hover{
    text-decoration: underline;
    transform: scalex(1.08);
    color: #c8a27a;
}
.footer-sec .div2 h3{
    margin-bottom: 25px;
    color: #c8a27a;
}
.footer-sec .div3{
    width: 100%;
    min-height: 50px;
    justify-content: center;

}
.footer-sec .div3 p{
    color: #d4b896;
}
.footer-sec .div3 p span,.footer-sec .div3 p a{
    color: #c8a27a;
    padding: 0 2px;
}
.footer-sec .div3 p a:hover{
    text-decoration: underline;
    letter-spacing: 1px;
}
.footer-sec .div3 p span i {
    animation: anamy 0.5s linear infinite alternate;
}

@keyframes anamy{
    0%{
        color: #d4b896;
        transform: scale(1);
    }
    100%{
        color: #c8a27a;
        transform: scale(1.5);
    }
}

